# ⛔ Carpetas a ignorar
node_modules/
dist/
.env
.env.local
.DS_Store

# 🧩 Archivos de sistema
Thumbs.db
.vscode/
.idea/

# 🔧 Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 🧰 Dependencias de producción
package-lock.json
